main {
    min-height: 100%;
}

main .container {
    padding: 0;
}

main .col {
    padding: 0;
}

.box-search {
    margin-bottom: 20px;
}

.box-search h5 {
    margin: 0;
    padding: 10px;
}

.content-wrapper {
    min-height: calc(100vh - 157px);
    height: auto;
    background-color: #ecf0f5;
}

.content-wrapper .content-header {
    padding: 15px 15px 0 15px;
}

.content-wrapper h1 {
    font-size: 24px;
    font-weight: 500;
}

.content-wrapper ul {
    list-style-type: none;
    font-size: 12px;
}

.content-wrapper a {
    color: black;
    text-decoration: none;
}

.content-wrapper .li-between {
    margin: 0 5px;
}

.content-wrapper .content {
    padding: 15px;
}

.content-wrapper .box {
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
}

.content-wrapper .box {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.content-wrapper .breadcrump {
    opacity: .9;
}

.accordion {
    transition: .2s ease-in-out;
}

.active, .accordion:hover {
    color: #fff;
    background-color: #CCCCCC;
}

.panel {
    padding: 10px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.panel form label {
    font-weight: 700;
}

.panel form select {
    font-size: 14px;
}

.panel .dateFromToInputs .text {
    width: 45%;
    margin: 0;
}