<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Management</title>
    <th:block th:insert="~{fragments/mainTemplate :: link}"></th:block>
    <th:block th:insert="~{fragments/mainTemplate :: script}"></th:block>
</head>

<body>
    <header th:insert="~{fragments/mainTemplate :: main-header}" class="main-header flex-column">
    	<div class="header-submenu position-relative">
    		<div th:insert="~{fragments/mainTemplate :: sub-header}"  class="container"></div>
    		<div th:insert="~{fragments/mainTemplate :: navi-header}"  class="container"></div>
    	</div>
    </header>
    <div id="main">
	    <div class="header-submenu position-relative">
	        <div class="container">
	            <div class="row">
	                <div class="col">
	                    <ul class="nav nav-submenu align-items-center d-flex justify-content-center"
	                        style="height: 50px;">
	                        <li class="nav-item" style="border-left: 2px solid #fff;">
	                            <a class="nav-link" href="/monthlyCard/viewlog">Xem nhật ký vé tháng</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard"
	                                style="color: #000; background: #fff;">Thông tin vé tháng</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/renewal">Gia hạn - thông tin hết hạn</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/disablelist">Mất thẻ / Đổi mã thẻ</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/active">Kích hoạt thẻ tháng</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content-wrapper">
                        <section class="content-header d-flex justify-content-between align-items-center">
                            <h1 class="m-0">Thêm mới</h1>
                            <ul class="breadcrump d-flex flex-row p-0 m-0">
                                <li>
                                    <a href="#">
                                        <i class="fas fa-home"></i>
                                        <span>Trang chủ</span>
                                    </a>
                                </li>
                                <li class="li-between">
                                    <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Thông tin vé tháng</span>
                                    </a>
                                </li>
                                <li class="li-between">
                                    <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Thêm mới</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <section class="content">
                            <div class="box box-update d-flex flex-column">
                                <div class="box-header d-flex" style="padding: 10px;">
                                    <i class="fas fa-pen-square" style="font-size: 18px;"></i>
                                </div>
                                <div class="box-body p-2">
                                    <div class="form-body">
                                        <form id="formMonthlyCardsData">
                                            <div class="form-group text">
                                                <label for="option1">Mã thẻ</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Biển số</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Tên KH</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">CMND</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Email</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Công ty</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Nhãn hiệu</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Địa chỉ</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Phí đậu xe</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group">
                                                <label for="">Tên loại xe</label>
                                                <select class="form-control" id="">
                                                    <option>Xe đạp điện</option>
                                                    <option>Xe oto</option>
                                                    <option>Xe máy</option>
                                                    <option>Xe tay ga</option>
                                                </select>
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Ngày đăng ký</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group text">
                                                <label for="option1">Ngày hết hạn</label>
                                                <input type="text" name="option1" class="form-control" id="option1">
                                            </div>
                                            <div class="form-group button-group d-flex flex-row">
                                                <div class="form-group">
                                                    <button onclick="saveData()" class="btn btn-primary"
                                                        style="font-size: 14px; margin-right: 20px;">Lưu</button>
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" value="Quay lại" class="btn btn-secondary"
                                                        style="font-size: 14px;">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{fragments/mainTemplate :: footer}" class="main-footer d-flex justify-content-between"> </footer>
    <script src="/js/orders.js"></script>
</body>

</html>