<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Management</title>
    <th:block th:insert="~{fragments/mainTemplate :: link}"></th:block>
    <th:block th:insert="~{fragments/mainTemplate :: script}"></th:block>
    <style>
		header .item6 {
			background: black;
		}
	</style>
</head>

<body>
    <header th:insert="~{fragments/mainTemplate :: main-header}" class="main-header flex-column">
    	<div class="header-submenu position-relative">
    		<div th:insert="~{fragments/mainTemplate :: sub-header}"  class="container"></div>
    		<div th:insert="~{fragments/mainTemplate :: navi-header}"  class="container"></div>
    	</div>
    </header>
    <div id="main">
	    <div class="header-submenu position-relative">
	        <div class="container">
	            <div class="row">
	                <div class="col">
	                    <ul class="nav nav-submenu align-items-center d-flex justify-content-center"
	                        style="height: 50px;">
	                        <li class="nav-item" style="border-left: 2px solid #fff;">
	                            <a class="nav-link" href="monthlyCard/viewlog">Xem nhật ký vé tháng</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard">Thông tin vé tháng</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/renewal"
	                            style="color: #000; background: #fff;">Gia hạn - thông tin hết hạn</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/disablelist">Mất thẻ / Đổi mã thẻ</a>
	                        </li>
	                        <li class="nav-item">
	                            <a class="nav-link" href="/monthlyCard/active">Kích hoạt thẻ tháng</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content-wrapper">
                        <section class="content-header d-flex justify-content-between align-items-center">
                            <h1 class="m-0">Thông tin vé tháng</h1>
                            <ul class="breadcrump d-flex flex-row p-0 m-0">
                                <li>
                                    <a href="#">
                                        <i class="fas fa-home"></i>
                                        <span>Trang chủ</span>
                                    </a>
                                </li>
                                <li class="li-between">
                                    <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Thông tin vé tháng</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <section class="content">
                            <div class="box box-result">
                                <table class="table table-hover" id="inOutTable">
                                    <thead>
                                        <tr>
                                            <th class="checkbox-item">
                                                <input type="checkbox">
                                            </th>
                                            <th scope="col" style="width: 50px;">ID</th>
                                            <th scope="col">Mã thẻ</th>
                                            <th scope="col">Số ngày</th>
                                            <th scope="col">Biển số</th>
                                            <th scope="col">Tên KH</th>
                                            <th scope="col">CMND</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Tên loại xe</th>
                                            <th scope="col">Ngày đăng ký</th>
                                            <th scope="col">Ngày hết hạn</th>
                                            <th scope="col" style="width: 100px;">Chỉnh sửa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="form-group button-group d-flex flex-row">
                                    <div class="form-group">
                                        <input type="submit" value="Gia hạn theo ngày đã chọn" class="btn btn-success"
                                            style="font-size: 14px; margin-right: 20px;">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Gia hạn cộng dồn ngày" class="btn btn-primary"
                                            style="font-size: 14px; margin-right: 20px;">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Export danh sách thẻ" class="btn btn-info"
                                            style="font-size: 14px;">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{fragments/mainTemplate :: footer}" class="main-footer d-flex justify-content-between"> </footer>
    <script src="/js/orders.js"></script>
</body>

</html>