<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Parking Management</title>
	    <th:block th:insert="~{fragments/mainTemplate :: link}"></th:block>
	    <th:block th:insert="~{fragments/mainTemplate :: script}"></th:block>
	    <style>
			header .item6 {
				background: black;
			}
		</style>
	</head>
	
	<body>
	    <header th:insert="~{fragments/mainTemplate :: main-header}" class="main-header flex-column">
	    	<div class="header-submenu position-relative">
	    		<div th:insert="~{fragments/mainTemplate :: sub-header}"  class="container"></div>
	    		<div th:insert="~{fragments/mainTemplate :: navi-header}"  class="container"></div>
	    	</div>
	    </header>
	    <div id="main">
		    <div class="header-submenu position-relative">
		        <div class="container">
		            <div class="row">
		                <div class="col">
		                    <ul class="nav nav-submenu align-items-center d-flex justify-content-center" style="height: 50px;">
		                        <li class="nav-item" style="border-left: 2px solid #fff;">
		                            <a class="nav-link" href="/monthlyCard/viewlog">Xem nhật ký vé tháng</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="nav-link" href="/monthlyCard">Thông tin vé tháng</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="nav-link" href="/monthlyCard/renewal"
		                            style="color: #000; background: #fff;">Gia hạn - thông tin hết hạn</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="nav-link" href="/monthlyCard/disablelist">Mất thẻ / Đổi mã thẻ</a>
		                        </li>
		                        <li class="nav-item">
		                            <a class="nav-link" href="/monthlyCard/active">Kích hoạt thẻ tháng</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>
		        </div>
	        </div>
	        <div class="container">
	            <div class="row">
	                <div class="col">
	                    <div class="content-wrapper">
	                        <section class="content-header d-flex justify-content-between align-items-center">
	                            <h1 class="m-0">Thông tin vé tháng</h1>
	                            <ul class="breadcrump d-flex flex-row p-0 m-0">
	                                <li>
	                                    <a href="#">
	                                        <i class="fas fa-home"></i>
	                                        <span>Trang chủ</span>
	                                    </a>
	                                </li>
	                                <li class="li-between">
	                                    <i class="fas fa-angle-right"></i>
	                                </li>
	                                <li>
	                                    <a href="#">
	                                        <span>Thông tin vé tháng</span>
	                                    </a>
	                                </li>
	                            </ul>
	                        </section>
	                        <section class="content">
	                            <div class="box box-result">
	                            <div class="box box-search d-flex flex-column" style="border-top-color: #CEA052;">
										<h5 style="border-bottom: 1px solid #f4f4f4;">Tìm kiếm</h5>
										<form th:action="@{/monthlyCard/renewalSearch}" th:object="${monthlyCradSearchForm}" method="GET">
											<div>
												<div class="form-group text col-lg-3 float-left">
													<label>Mã chip</label> 
													<input type="text" th:field="*{cardCode}" class="form-control" id="code">
												</div>
											</div>
											<div class="form-group text col-lg-3 float-left">
												<label>Tên Khách Hàng</label> 
												<input type="text" th:field="*{customerName}" class="form-control" id="customer_name">
											</div>
											<div style="float: right;  margin: 30px 10px 10px 0;">
												<button type="submit" class="btn btn-primary">Tìm kiếm</button>
											</div>
										</form>
									</div>
									
	                                <table class="table table-hover" id="inOutTable">
	                                    <thead>
	                                        <tr>
	                                            <th scope="col" style="width: 50px;">ID</th>
	                                            <th scope="col">Mã Chip</th>
	                                            <th scope="col">Biển số</th>
	                                            <th scope="col">Tên KH</th>
	                                            <th scope="col">CMND</th>
	                                            <th scope="col">Email</th>
	                                            <th scope="col">Ngày đăng ký</th>
	                                            <th scope="col">Ngày hết hạn</th>
	                                            <th scope="col">Trạng Thái</th>
	                                            <th scope="col" style="width: 100px;">Chỉnh sửa</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                    	<tr th:each="monthlyCard : ${listMonthlycard}">
												<td th:text="${{monthlyCard.id}}"></td>
												<td th:text="${{monthlyCard.cardCode}}"></td>
												<td th:text="${{monthlyCard.carNumber}}"></td>
												<td th:text="${{monthlyCard.customerName}}"></td>
												<td th:text="${{monthlyCard.idNumber}}"></td>
												<td th:text="${{monthlyCard.email}}"></td>
												<td th:text="${#dates.format({monthlyCard.startDate}, 'dd-MM-yyyy')}"></td>
												<td th:text="${#dates.format({monthlyCard.endDate}, 'dd-MM-yyyy')}"></td>
												<td th:text="${{monthlyCard.endDate > #temporals.day(date) ? 'Còn Hạn' : 'Hết Hạn'}}"></td>
												<td width="13%">
													<div style="padding-right: 10px; float: left;">
														<!-- <a th:href="@{/monthlyCard/renewal/{id}(id=${monthlyCard.id})}"> -->
														<a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${monthlyCard.id}"><span class="glyphicon glyphicon-trash"></span>
															<button class="btn-info">Gia Hạn</button>
														</a>
													</div>
													<!-- <div class="modal modal-warning fade in" th:id="modal-warning+${monthlyCard.id}" >
													    <div class="modal-dialog">
													        <div class="modal-content">
													        	<form id="formMonthlyCardsData" th:action="@{/monthlyCard/add}" th:object="${monthlyCard}" method="POST">
														            <div class="modal-header">
														                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
													                    <span aria-hidden="true">×</span></button>
														            </div>
														            <div class="form-group text">
																		<label>Phí đậu xe</label>
																		<input type="text" required="required" name="monthlyCard.id" class="form-control" id="parking_fee">
																	</div>
														            <div class="modal-footer">
														                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
														                <a type="button" class="btn btn-outline" th:href="@{/user/delete/{id}(id=${user.id})}"><i class="fa fa-check"></i>&nbsp;Yes</a>
														            </div>
														    	</form>
													        </div>
													    </div>
													</div> -->
												</td>
											</tr>
	                                    </tbody>
	                                </table>
	                                <div class="form-group button-group d-flex flex-row">
	                                    <div class="form-group">
	                                        <input type="submit" value="Gia hạn theo ngày đã chọn" class="btn btn-success"
	                                            style="font-size: 14px; margin-right: 20px;">
	                                    </div>
	                                    <div class="form-group">
	                                        <input type="submit" value="Gia hạn cộng dồn ngày" class="btn btn-primary"
	                                            style="font-size: 14px; margin-right: 20px;">
	                                    </div>
	                                    <div class="form-group">
	                                        <input type="submit" value="Export danh sách thẻ" class="btn btn-info"
	                                            style="font-size: 14px;">
	                                    </div>
	                                </div>
	                            </div>
	                        </section>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="myForm">
	    	<form id="formMonthlyCardsData"  th:action="@{/monthlyCard/update}" th:object="${monthlyCardDto}" method="POST">
            	<div class="form-group text">
		            <label for="option1">ID</label>
		            <input required="required" readonly="readonly" th:field="*{id}" class="form-control" id="id">
		        </div>
                
                 <div class="form-group text">
                     <label >Ngày đăng ký</label>
                     <input type="text" required="required" th:field="*{startDateString}" class="form-control  datepickerInOut" id="start_date">
                 </div>
                 <div class="form-group text">
                 	<label >Ngày hết hạn</label>
                    <input type="text" required="required" th:field="*{endDateString}" class="form-control  datepickerInOut" id="end_date">
                 </div>
                 <div class="form-group button-group d-flex flex-row">
            		<div class="form-group">
                		<input type="submit" value="Lưu" class="btn btn-success" style="font-size: 14px;">
     				</div>
				</div>
        	</form>
	    </div>
	    <footer th:insert="~{fragments/mainTemplate :: footer}" class="main-footer d-flex justify-content-between"> </footer>
	    <script src="/js/orders.js"></script>
	</body>

</html>