<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Parking Management</title>
<th:block th:insert="~{fragments/mainTemplate :: link}"></th:block>
<th:block th:insert="~{fragments/mainTemplate :: script}"></th:block>
</head>

<body>
	<header th:insert="~{fragments/mainTemplate :: main-header}"
		class="main-header flex-column">
		<div class="header-submenu position-relative">
			<div th:insert="~{fragments/mainTemplate :: navi-header}"
				class="container"></div>
		</div>
	</header>
	<div id="main">
		<div class="header-submenu position-relative">
			<div class="container">
				<div class="row">
					<div class="col">
						<ul
							class="nav nav-submenu align-items-center d-flex justify-content-center"
							style="height: 50px;">
							<li class="nav-item" style="border-left: 2px solid #fff;"><a
								class="nav-link" href="/revenue">Thống kê doanh thu</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/revenue/priceformula1">CT TT theo công văn</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/revenuel/priceformula2"
								style="color: #000; background: #fff;">CT TT lũy tiến</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/revenue/priceformula3">CT tổng hợp</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="content-wrapper">
						<section
							class="content-header d-flex justify-content-between align-items-center">
							<h1 class="m-0">CT TT lũy tiến</h1>
							<ul class="breadcrump d-flex flex-row p-0 m-0">
								<li><a href="#"> <i class="fas fa-home"></i> <span>Trang
											chủ</span>
								</a></li>
								<li class="li-between"><i class="fas fa-angle-right"></i></li>
								<li><a href="#"> <span>CT TT lũy tiến</span>
								</a></li>
							</ul>
						</section>
						<section class="content">
							<div class="box box-update d-flex flex-column">
								<div class="box-header d-flex" style="padding: 10px;">
									<i class="fas fa-pen-square" style="font-size: 18px;"></i>
								</div>
								<div class="box-body p-2">
									<div class="form-body">
										<form action="" class="d-flex flex-column">
											<div class="col-sm-6 pl-0">
												<div class="form-group d-flex flex-row align-items-center">
													<label for="vehicle_id" class="m-0">Tên loại xe:</label> <select
														name="vehicle_id" class="form-control ml-1"
														id="vehicleType" style="width: auto; font-size: 14px;">
														<option value="7" selected="selected">Xe tải
															thường</option>
														<option value="5">Xe con thường</option>
														<option value="3">Xe tay ga thường</option>
														<option value="1">Xe số thường</option>
													</select>
												</div>
											</div>
											<div
												class="form-group form-inline d-flex flex-row align-items-center">
												<label for="level_1_time" class="m-0">Mốc 1:</label> <input
													type="number" min="0" max="23" name="level_1_time"
													class="form-control mx-1">h <input type="text"
													value="" name="level_1_price" class="form-control txtMoney"
													style="margin-left: 20px;">
											</div>
											<div
												class="form-group form-inline d-flex flex-row align-items-center">
												<label for="monthly_card_time" class="m-0">Mốc 2:</label> <input
													type="number" min="0" max="23" name="level_2_time"
													class="form-control mx-1">h <input type="text"
													value="" name="level_2_price" class="form-control txtMoney"
													style="margin-left: 20px;">
											</div>
											<div
												class="form-group form-inline d-flex flex-row align-items-center">
												<label for="" class="m-0">Lớn hơn mốc 2:</label> <input
													type="text" value="" name=""
													class="form-control txtMoney mx-1">
											</div>
											<div
												class="form-group form-inline d-flex flex-row align-items-center">
												<label for="" class="m-0">Chu kỳ:</label> <input
													type="number" min="0" max="23" name=""
													class="form-control mx-1">h
											</div>
											<div class="form-group d-flex flex-row">
												<label class="radio-inline d-flex align-items-center">
													<input type="radio" name="level_3_price_type" value="0"
													style="margin-right: 6px;">Không cộng
												</label> <label class="radio-inline d-flex align-items-center mx-3">
													<input type="radio" name="level_3_price_type" value="1"
													style="margin-right: 6px;">Cộng 1 mốc
												</label> <label class="radio-inline d-flex align-items-center">
													<input type="radio" name="level_3_price_type" value="2"
													style="margin-right: 6px;">Cộng 2 mốc
												</label>
											</div>
											<label for="">Vé tháng giới hạn giờ</label>
											<div class="form-group form-inline">
												<label for="monthly_card_time">Chu kỳ:</label> <input
													type="number" value="" min="0" max="23"
													name="monthly_card_time" class="form-control mx-1">
												h <label for="monthly_card_time_price"
													style="margin-left: 30px; margin-right: 5px;">Giá</label> <input
													type="text" value="" name="monthly_card_time_price"
													class="form-control txtMoney">
											</div>
											<div class="form-group button-group d-flex flex-row">
												<div class="form-group" style="margin-right: 20px;">
													<input type="submit" value="Lưu" class="btn btn-primary"
														style="padding: 4px 12px;">
												</div>
												<div class="form-group">
													<input type="submit" value="Quay lại" class="btn"
														style="padding: 4px 12px;" onclick="return back();">
												</div>
												<div class="cls"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:insert="~{fragments/mainTemplate :: footer}"
		class="main-footer d-flex justify-content-between"> </footer>
	<script src="/js/report.js"></script>
</body>

</html>