<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Management</title>
    <th:block th:insert="~{fragments/mainTemplate :: link}"></th:block>
    <th:block th:insert="~{fragments/mainTemplate :: script}"></th:block>
    <style>
		header .item7 {
			background: black;
		}
	</style>
</head>

<body>
    <header th:insert="~{fragments/mainTemplate :: main-header}" class="main-header flex-column">
    	<div class="header-submenu position-relative">
    		<div th:insert="~{fragments/mainTemplate :: sub-header}"  class="container"></div>
    		<div th:insert="~{fragments/mainTemplate :: navi-header}"  class="container"></div>
    	</div>
    </header>
    <div id="main">
	    <div class="header-submenu position-relative">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-submenu align-items-center d-flex justify-content-center"
                            style="height: 50px;">
                            <li class="nav-item" style="border-left: 2px solid #fff;">
                                <a class="nav-link" href="/setting/display">Cấu hình hiển thị</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/setting/order" style="color: #000; background: #fff;">Quản lý thu tiền xe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/setting/permission">Phân quyền truy cập</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/setting/systemlog">Nhật ký hệ thống</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="content-wrapper">
                        <section class="content-header d-flex justify-content-between align-items-center">
                            <h1 class="m-0">Quản lý thu tiền xe</h1>
                            <ul class="breadcrump d-flex flex-row p-0 m-0">
                                <li>
                                    <a href="#">
                                        <i class="fas fa-home"></i>
                                        <span>Trang chủ</span>
                                    </a>
                                </li>
                                <li class="li-between">
                                    <i class="fas fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Quản lý thu tiền xe</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                        <section class="content">
                            <!-- TODO: search -->
                            <div class="box box-result">
                                <table class="table table-hover" id="revenueIndexTable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Mã thẻ</th>
                                            <th scope="col">Biển số</th>
                                            <th scope="col">Ghi chú</th>
                                            <th scope="col">Thời gian vào</th>
                                            <th scope="col">Giá tiền</th>
                                            <th scope="col">Thời gian ra</th>
                                            <th scope="col">Tài khoản</th>
                                            <th scope="col">Mất thẻ</th>
                                            <th scope="col">Máy tính</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="~{fragments/mainTemplate :: footer}" class="main-footer d-flex justify-content-between"> </footer>
    <script src="/js/orders.js"></script>
</body>

</html>